body {
    display: flex;
    background-color: #9EB8D9;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}
.sidebar-header{
    background-color: #A25772;
}
.sidebar-header img{
    width: 70%;
    height: 120px;
    margin-left: 25px;
}
.navleft{
    background-color: #7C93C3;
}
a {
    color: inherit; 
    text-decoration: none; 
}
a:hover {
    text-decoration: none; 
}

ul{
    padding-top: 5rem;
    list-style-type: none;
}
li{
    margin-bottom: 1.5rem;
}
.boton{
    border-radius: 10px;
    background-color: #9EB8D9;
    padding: 15px;
    margin-right: 40px;
    cursor: pointer;
}
.boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
}

.btn-actions {
    display: flex;
    gap: 0.5rem;
}

/* Estilo para la tabla */
.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    max-height: 50px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.custom-table th {
    background-color: #4D869C; 
    color: white;
    border: none;
}

.custom-table td {
    background-color: #7AB2B2; 
    border: none;
}

.custom-table tbody tr:nth-child(odd) td {
    background-color: #CDE8E5; 
}


.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
    margin: 40px;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--night-rider);
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}