* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-custom {
  background-color: #535c91;
}

.iconPage {
  transition: transform 0.3s ease;
}

.iconPage:hover {
  transform: scale(1.1);
}

@media (max-width:912px) {
  .footerContainer>div {
    text-align: center;
  }

  .ifrContainer iframe {
    width: 100%;
  }
}

body {
  padding-top: 105px;
}

.fonts {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontstwo {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(83, 92, 145);

}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 19px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 200;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

.textcl {
  text-align: center;
  color: white;
  justify-content: center;

}

.textcls {
  text-align: left;
  color: white;
  justify-content: left;
  text-align: justify;
  text-decoration: none;
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 4vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding: 0 2em;
  max-width: 400px;
  padding-bottom: 0.4em;
  background-color: #171717;
  background-color: #0a192f;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #535c91;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #535c91;
  font-weight: bold;
  outline: 1px solid #535c91;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #1b1a55;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #1b1a55 0%, #1b1a55 100%);
  padding: 0em;
  max-width: 400px;
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(59, 19, 128, 0.31);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}


