* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom {
    /* background-color: #535c91; */
    background-image: url(../Imagenes/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.iconPage {
    transition: transform 0.3s ease;
}

.iconPage:hover {
    transform: scale(1.1);
}

@media (max-width:912px) {
    .footerContainer>div {
        text-align: center;
    }

    .ifrContainer iframe {
        width: 100%;
    }
}

body {
    padding-top: 105px;
}

.navbar {
    backdrop-filter: blur(2px);
    background-color: rgba(27, 26, 85, 0.9);
}

.fonts {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.fontstwo {
    font-family: "Bree Serif", serif;
    font-weight: 200;
    font-style: normal;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(83, 92, 145);

}

.collapse li a {
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(27, 26, 85, 0.9);
    border-radius: 20px;
    cursor: pointer;


}

.nav-link:hover {
    backdrop-filter: blur(10px);
    background-color: rgba(83, 92, 145, 0.5);
    font-size: 1.2em;


}

.collapse ul {
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    transition: all 0.6s;
    backdrop-filter: blur(2px);
    background-color: rgba(27, 26, 85, 0.9);

}

.dropdown-item {
    background-color: #535c91;

}

.dropdown-item:hover {

    backdrop-filter: blur(10px);
    background-color: rgba(83, 92, 145, 0.5);
    transition: all 0.6s;
    font-size: 1.1em;
    cursor: pointer;


}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 19px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 200;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;

}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;

}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

.containerfoot {
    backdrop-filter: blur(2px);
    background-color: rgba(27, 26, 85, 0.9);
    max-width: 100%;
}


