* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom {
    /* background-color: #535c91; */
    background-image: url(../Imagenes/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 20px;
}

.card-body {
    padding: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 20px;
}

.alert {
    margin-bottom: 20px;
}