* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom {
    /* background-color: #535c91; */
    background-image: url(../Imagenes/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
